pandas
numpy
requests
pyodbc
python-dotenv


# PostgreSQL dependencies
mysql-connector-python==8.0.33

# Logging
loguru==0.6.0       # Enhanced logging

# Testing
pytest==7.4.0       # Testing framework

# Additional dependencies (if needed for ETL tasks)
python-dotenv==1.0.0  # Load environment variables
